body {
  font-family: sans-serif;
  color:#333;
}

.center-box {
  height: 600px;
  text-align: center;
  margin: 0 auto;
}

img {
  width: 8%;
  margin: 20px 0 60px 0;
}

input.url-input {
  width: 350px;
  height: 20px;
  margin: 0 0 20px 0;
  padding: 15px;
  border-radius: 4px;
  background-color: #f4f4f4;
  border: 0;
}

button#shorten {
  width: 200px;
  height: 30px;
  padding: 8px 20px 10px 20px;
  margin: 0 0 20px 0;
  border-radius: 3px;
  background-color: white;
  border: 1px solid #4af;
  color: #4af;
}

div.renew-part {
  width: 50%;
  margin: 0 auto;
}

div.success-msg h3 {
  text-align: center;
}

h3 {
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-align: left;
}

input#short-url {
  margin: 0 10px 10px 0px;
  text-align: center;
  padding: 0;
  width: 50%;
  color: #18f;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  border: 0;
}

button#copy-btn {
  padding: 8px 20px 10px 20px;
  margin: 0 0 20px 0;
  text-align: center;
  background-color: rgb(36, 87, 226);
  color: white;
  border: 0;
}
span{
  color:#f28;
}